html {
    box-sizing:border-box;
    font-size: 20px;
    background-color: aqua;
}

*,
*:before,
*after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

h1 {
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 0;
}


.score {
    background: rgba(255, 255, 255, 0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
}

#game{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.hole{
    display: flex;
    /* flex: 1 0 33.33%; */
    /* overflow: hidden; */
    /*position: relative; */
    border: 1px solid black;
    width: 10vh;
    height: 10vh;
}

.hole:after {
    display: block;
    background: url(https://toppng.com/uploads/preview/pile-of-dirt-png-11552290224cadercdgyw.png) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 10vh;
    height: 10vh;
    /* position: absolute; */
    z-index: 2;
    /* bottom: -30px; */
}

.mole {
    background: url(https://icon2.cleanpng.com/20180513/vbe/kisspng-pull-up-mole-fat-mole-cartoon-animation-5af806aba75b89.6535037215262040756855.jpg) bottom center no-repeat;
    background-size: 50%;
    position: absolute;
    /* top: 100%; */
    width: 10vh;
    height: 10vh;
    z-index: 3;
    transition: all 2.0s;
}

.hole.up .mole{
    top: 0;
}